/* ------------------------------------------------- Menu Lateral --------------------------------------------------------------*/

.containner{
	display: flex;
	width:100%;

}
nav{
	display: flex;
	width: 400px;
	height: auto;
	font-family: arial;
	justify-content: flex-start;
	flex-direction: column;
}



.item label{
	display: block;
	padding: 10px;
	background-color: #069;
	font-size: 16px;
	cursor: pointer;
	color: #fff;
	border-bottom: solid 2px #aaa;
	border-right: solid 2px #aaa;

}

.item label:hover{
background-color: #ffffff;
color: #000000;
}
.item ul{
	width: 100%;
	list-style: none;
	overflow: hidden;
	max-height:0;
	transition: all .4s linear;
	
}

.item input{
	display: none;
}

.item ul li a{
	width: 100%;
	height: 20px;
	padding: 10px;
	display: block;
	text-decoration: none;
	background-color: #fafafa;
	color: #333;
	border-bottom: solid 2px #aaa;
}
.item ul li a:hover{
	background-color: #9cf;
}

.item input:checked ~ ul{
	height: auto;
	max-height:200px;
	transform: auto;
}
/* ------------------------------------------------- Menu Lateral --------------------------------------------------------------*/


.painel{
	display: flex;
	width: 100%;
	height: 600px;
	justify-content: flex-start;
	flex-direction: column;
}

.logado{
	display: flex;
	width: 100%;
	height: 80px;
	justify-content: flex-end;
	flex-direction: flex-end;
	align-items: center;
}
.logadoesquerdo{
	background: #dfdfdf;
	display: flex;
	width: 500px;
	height: 60px;
	border-radius: 15px;
	border: solid 2px #aaa;
	font-family: verdana;
	font-size: 12px;
	justify-content: center;
	align-items: center;
}

.areacarreira{
	display: flex;
	width: 100%;
	height: 500px;
	justify-content: flex-start;
	flex-direction: column;
}

.areacarreiratitle{
	display: flex;
	width: 100%;
	height: 80px;
	border-radius: 2px;
	border-top: solid 2px #aaa;
	border-left: solid 2px #aaa;
	border-right: solid 2px #aaa;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	justify-content: center;
	align-items: center;
}


.areacarreiraconteudo{
	display: flex;
	width: 100%;
	height: 300px;
	justify-content: center;
	align-items: center;
	flex-direction: column;


	border-radius: 2px;
	border-bottom: solid 2px #aaa;
	border-left: solid 2px #aaa;
	border-right: solid 2px #aaa;
}

.areacarreiraconteudo p{
	font-family: Arial, Helvetica, sans-serif;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	justify-content: center;
	align-items: center;
}



