.principal{
	display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;

}
.contato{
	font-size: 20px;
    font-weight: 700;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px 20px;
    background-color: #F5F5F5;
}
.contato input, textarea, select{
    width: 500px;
    padding: 5px;
    font-size: 16PX;
    font-weight: 700;
    font-family: sans-serif;
    border: 1px solid black;
}
.contato textarea{
    height: 150px;
}
button{
    margin: 10px;
    font-size: 20px;
    background-color: gray;
    cursor: pointer;
    border:2px solid black;
}
