/* Configuração dimensão da pagina */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Criação de estrutura em grade */
#estrutura{
    display: grid;
    grid-template-areas: "header header" "nav nav" "content content" "footer footer"; /* partes estruturais*/
    grid-template-rows: 15vh 5vh 100vh 20vh; /* tamanho das estruturas*/
}


.EstruturaContent{
    grid-area: content;
    background-color: black;
    padding: 0 500px;
}

.DivPrincipal{
	width: 100%;
	font-size: 20px;
    border: 1px solid black;
	box-sizing: 10%;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



/*<!--------One----------->*/
.DivOne{
	width: 100%;
	height:159px;
	display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-image: url(_imagens/ad.jpg);
	text-align: center;
	border: 3px solid black;
}
.DivOne a{
	font-size: 16px;
	color: white;
    font-weight: bolder;
}



/*<!--------Two----------->*/
.DivTwo{
	width: 100%;
	height:159px;
	display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-image: url(_imagens/ti.jpg);
	text-align: center;
	border: 1px solid black;
}
.DivTwo a{
	font-size: 16px;
	color: white;
	font-weight: bolder;
}



/*<!--------Three----------->*/
.DivThree{
	width: 100%;
	height:159px;
	display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-image: url(_imagens/ci.jpg);
	text-align: center;
	border: 1px solid black;
}
.DivThree a{
	font-size: 16px;
	color: white;
	font-weight: bolder;
}



/*<!--------Four----------->*/
.DivFour{
	width: 100%;
	height:159px;
	display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-image: url(_imagens/eg.jpg);
	text-align: center;
	border: 1px solid black;
}
.DivFour a{
	font-size: 16px;
	color: white;
	font-weight: bolder;
}



/*<<<<<<<<<<< But Click>>>>>>>>>>>*/
a:hover{
    color:#FF0000;
}




/* responsiva */
@media only screen and (max-width: 768px){
	
}


/* mobile */
@media only screen and (max-width: 480px){
        
    #estrutura{
        grid-template-areas: "header" "section" "content" "aside" "article" "footer";
        grid-template-rows: 25vh 21vh 90vh 75vh 100vh 25vh;
    }
    .EstruturaNav{
        grid-area: header;
        background: rgba(71, 83, 176, 0);
        width: 100%;
        height: 80%;
    }
}