
.principal{
    justify-content: center;
    margin: 95px 0px 95px 0px;
}

.disciplinas{
	display: flex;
	flex-wrap: wrap;
}

/*Curso ADS*/
.ADS{
    width: 95%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(20, 59, 80);
	color: black;
	margin: 0px 0px 50px 0px;
}
.ADS ul{
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    color: white;
    width: 40%;
    padding: 30px;
    position: absolute;
    visibility: hidden;
	text-transform: uppercase;
}
.ADS li{
    font-size: 14px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #069;
	padding: 10px;
}
.ADS a{
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px;
	text-transform: none;
}
.ADS p{
    color: white;
    font-size: 16px;
    text-align: justify;
    padding: 15px;
    text-indent: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.ADS h1{
    font-family: 'Open Sans', sans-serif;
    border-radius: 100px;
    padding: 10px;
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.ADS h2{
    font-size: 16px;
    padding: 10px;
	color: rgb(10, 146, 219);
    text-transform: uppercase;
}
.ADS h3{
    font-size: 16px;
    padding: 10px;
	color: rgb(10, 146, 219);
    text-transform: uppercase;
}
.ADS a:hover{
    background-color: white;
	color: black;
	transition: 5.s all;
	padding: 5px;
}
label[for="bt_ads"]{
	font-size: 16px;
    cursor: pointer;
    padding: 10px;
	color: white;
    text-transform: uppercase;
}
#bt_ads{
    display: none;
}
#bt_ads:checked~.disciplinas ul{
    position: static;
    visibility: visible;
}




/*Curso TI*/
.TI{
    width: 95%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(20, 59, 80);
	color: black;
	margin: 0px 0px 50px 0px;
}
.TI ul{
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    color: white;
    width: 40%;
    padding: 30px;
    position: absolute;
    visibility: hidden;
	text-transform: uppercase;
}
.TI li{
    font-size: 14px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #069;
	padding: 10px;
}
.TI a{
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px;
	text-transform: none;
}
.TI p{
    color: white;
    font-size: 16px;
    text-align: justify;
    padding: 15px;
    text-indent: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.TI h1{
    font-family: 'Open Sans', sans-serif;
    border-radius: 100px;
    padding: 10px;
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.TI h2{
    font-size: 16px;
    padding: 10px;
	color: rgb(10, 146, 219);
    text-transform: uppercase;
}
.TI h3{
    font-size: 16px;
    padding: 10px;
	color: rgb(10, 146, 219);
    text-transform: uppercase;
}
.TI a:hover{
    background-color: white;
	color: black;
	transition: 5.s all;
	padding: 5px;
}
label[for="bt_ti"]{
	font-size: 16px;
    cursor: pointer;
    padding: 10px;
	color: white;
    text-transform: uppercase;
}
#bt_ti{
    display: none;
}
#bt_ti:checked~.disciplinas ul{
    position: static;
    visibility: visible;
}


/*Curso CC*/
.CC{
    width: 95%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(20, 59, 80);
	color: black;
	margin: 0px 0px 50px 0px;
}
.CC ul{
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    color: white;
    width: 40%;
    padding: 30px;
    position: absolute;
    visibility: hidden;
	text-transform: uppercase;
}
.CC li{
    font-size: 14px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #069;
	padding: 10px;
}
.CC a{
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px;
	text-transform: none;
}
.CC p{
    color: white;
    font-size: 16px;
    text-align: justify;
    padding: 15px;
    text-indent: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.CC h1{
    font-family: 'Open Sans', sans-serif;
    border-radius: 100px;
    padding: 10px;
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.CC h2{
    font-size: 16px;
    padding: 10px;
	color: rgb(10, 146, 219);
    text-transform: uppercase;
}
.CC h3{
    font-size: 16px;
    padding: 10px;
	color: rgb(10, 146, 219);
    text-transform: uppercase;
}
.CC a:hover{
    background-color: white;
	color: black;
	transition: 5.s all;
	padding: 5px;
}
label[for="bt_cc"]{
	font-size: 16px;
    cursor: pointer;
    padding: 10px;
	color: white;
    text-transform: uppercase;
}
#bt_cc{
    display: none;
}
#bt_cc:checked~.disciplinas ul{
    position: static;
    visibility: visible;
}


/*Curso EC*/
.EC{
    width: 95%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(20, 59, 80);
	color: black;
	margin: 0px 0px 50px 0px;
}
.EC ul{
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    color: white;
    width: 40%;
    padding: 30px;
    position: absolute;
    visibility: hidden;
	text-transform: uppercase;
}
.EC li{
    font-size: 14px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #069;
	padding: 10px;
}
.EC a{
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px;
	text-transform: none;
}
.EC p{
    color: white;
    font-size: 16px;
    text-align: justify;
    padding: 15px;
    text-indent: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.EC h1{
    font-family: 'Open Sans', sans-serif;
    border-radius: 100px;
    padding: 10px;
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.EC h2{
    font-size: 16px;
    padding: 10px;
	color: rgb(10, 146, 219);
    text-transform: uppercase;
}
.EC h3{
    font-size: 16px;
    padding: 10px;
	color: rgb(10, 146, 219);
    text-transform: uppercase;
}
.EC a:hover{
    background-color: white;
	color: black;
	transition: 5.s all;
	padding: 5px;
}
label[for="bt_ec"]{
	font-size: 16px;
    cursor: pointer;
    padding: 10px;
	color: white;
    text-transform: uppercase;
}
#bt_ec{
    display: none;
}
#bt_ec:checked~.disciplinas ul{
    position: static;
    visibility: visible;
}



/* responsiva */
@media(max-width: 1000px){
    
    .disciplinas{
	display: block;
	flex-wrap: nowrap;
    }

    .ADS{
    width: 85%;
    padding: 10px;
	margin: 0px 0px 100px 0px;
    }
    .ADS ul{
    color: white;
    width: 95%;
    padding: 8px;
    text-align: center;
    }
    .ADS p{
    font-size: 14px;
    padding: 10px;
    text-indent: 10px;
    }
    .ADS h1{
    font-size: 16px;
    }
    .ADS h2{
    font-size: 14px;
    padding: 5px;
    }
    .ADS h3{
    font-size: 14px;
    padding: 5px;
    }


    .TI{
    width: 85%;
    padding: 10px;
	margin: 0px 0px 100px 0px;
    }
    .TI ul{
    color: white;
    width: 95%;
    padding: 8px;
    text-align: center;
    }
    .TI p{
    font-size: 14px;
    padding: 10px;
    text-indent: 10px;
    }
    .TI h1{
    font-size: 16px;
    }
    .TI h2{
    font-size: 14px;
    padding: 5px;
    }
    .TI h3{
    font-size: 14px;
    padding: 5px;
    }


    .CC{
    width: 85%;
    padding: 10px;
	margin: 0px 0px 100px 0px;
    }
    .CC ul{
    color: white;
    width: 95%;
    padding: 8px;
    text-align: center;
    }
    .CC p{
    font-size: 14px;
    padding: 10px;
    text-indent: 10px;
    }
    .CC h1{
    font-size: 16px;
    }
    .CC h2{
    font-size: 14px;
    padding: 5px;
    }
    .CC h3{
    font-size: 14px;
    padding: 5px;
    }


    .EC{
    width: 85%;
    padding: 10px;
	margin: 0px 0px 100px 0px;
    }
    .EC ul{
    color: white;
    width: 95%;
    padding: 8px;
    text-align: center;
    }
    .EC p{
    font-size: 14px;
    padding: 10px;
    text-indent: 10px;
    }
    .EC h1{
    font-size: 16px;
    }
    .EC h2{
    font-size: 14px;
    padding: 5px;
    }
    .EC h3{
    font-size: 14px;
    padding: 5px;
    }
}