.container{
	display:flex;
	width: 100%;	
	background:white;
	margin-top: 10px;
	align-items: center;
    justify-content: center;
	flex-direction: column;
}

.semestre{
	width: 100%;
	height: 40px;	
	background: #0b7695;
	border: 1px;
	border-radius: 20px;
	text-align: center;
	font-family: arial;
	font-size: 30px;
	font-weight: bold;
}

.title{
	width: 70,27818448023426%;
	height: 2,928257686676428%;	
	background: #red;
	margin-top: 10px;
	text-align: center;
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
}



.text{
	background: white;
	width: 70,27818448023426%;
	height: 6,588579795021962%;
	margin: 0 auto;
	font-family: arial;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 400px) {
   .container{
        background-color: #cccccc;
    }
	.text{
		font-weight: bold;
	}
}
