/*CSS do Menu*/	
*{
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#btnMenu{
	display: none;
}

header{
	background-color: #5F9EA0;
	font-weight: 800;
	font-size: 16px;
	width: 100%;
}
header label{
    color: #FFF8DC;	
    font-size: 16px;
    display: block;
    padding: 5px 10px;
    width: 20px;
    border-right: 2px solid white;
    border-bottom: 1px solid white;
    border-radius: 20%;
    display: none;	
}
header label:hover{
	background-color: #7FFFD4;
	}
form input{
	border: 1px solid black;
	font-size: 12px;
	border-radius: 7px;
	height:26px;
}
form button{
	border: 1px solid black;
	font-size: 12px;
	border-radius: 7px;
	width: 50px;
	height: 30px;
}
.menu img{
	width: 30%;
}
.menu ul{
	list-style: none;
	margin:0;
	padding: 5px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	transition: all 0.7s;
}
.menu ul a{
	color: white;
	text-decoration: none;
    padding: 5px 10px;
    display: block;
    text-transform: uppercase;
}
.menu ul li:hover{
	background-color: #7FFFD4;
}

/*CSS do Menu*/

/*CSS do Rodapé*/

footer{
	justify-content: space-around;
	display: flex;	
	background-color: #5F9EA0;
	color: white;
	font-weight: 600;
	align-items: flex-end;
}
.rodape{
	text-align: center;
	margin:10px 20px;
}
.subrodape{
	text-align: center;
	font-size: 14px;
	font-weight: 200;	
    margin:10px 10px;	
}
/*CSS do Rodapé*/

/*CSS do Meida*/
@media(max-width: 780px){
	header {
		position: fixed;
	}
	header label{
       display: block;
 	}
 	.menu{
 		border: none;
 	}
 	.menu ul{
 		background-color: #5F9EA0;
 		position: absolute;
 		width: 80%;
 		flex-direction: column;
 		align-items: flex-end;	
 		border: none;
 		margin-left: -90%;
 	}
 	#btnMenu:checked ~ .menu ul{
 		margin-left: 0%;
 	}
 	footer{
 		flex-direction: column-reverse;
 		align-items: center;
 		justify-content: space-around;
 	}
}
