/*Pagina Home*/
body{
background-color: #2F4F4F;
}
.PaginaCentro{
	display: flex;
	font-family: sans-serif;
	justify-content: center;
}
.Sobre{
	display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    flex-direction: row;
	width: 1070px;
	height: auto;
	background-color: #5F9EA0;
	margin:5px 5px;
}
.items{
	width: 511px;
	height: 355px;
	margin:5px 5px;
	padding: 5px 5px;
	font-size: 14px;
	font-weight: 200;
	text-align: justify;
	background-color: #5F9EA0;	
	border: 2px solid #4682B4;
	border-radius: 5%;
}
.items img{
	width: 100%;
	border-radius: 10%;
}
/*Pagina Home*/

/*Pagina Home mobile*/
@media(max-width: 780px){
	.Sobre{
       flex-direction: column;
       margin:0;
       padding: 0;
       align-items: center;
 	}
 	.items img{
       width: 99%;
 	}
 	.items1{
       width: 90%;
       height: 100%;
       font-size: 13px;
 	}
@media(max-width: 580px){
	.Sobre{
       flex-direction: column;
       margin:0;
       padding: 0;
       align-items: center;
 	}
 	.items img{
       width: 80%;
 	}
 	.items1{
       width: 85%;
       height: 100%;
       font-size: 13px;
 	}


 	/*Pagina Home mobile*/