*{
	margin: 0;
	padding: 0;
}
.container{
	display: flex;
	width: 100%;
	height:662px;
	background-image: url(_imagens/fundo.png);
	align-items: center;
    justify-content: center;
}

.center{
	width:27.08638360175695%;
	height:350px;
	background: #cccccc;
	filter:alpha(opacity=40);
    opacity: 0.4;
    -moz-opacity:0.4;
    -webkit-opacity:0.4;
	border-radius: 10px;
	
}

.title{
	display: flex;
	width:100%;
	height:70px;
	background: #1e1e1e;
	margin-top: 4px;
	align-items: column;
    justify-content: center;
}
.title p{
	
	color: #ffffff;
	text-align: left;
	font-size:45px;
	font-family: arial;

}
.label{
	width:100%;
	height:190px;
	font-family: arial;
	font-size: 18px;
	font-weight: bold;
}
.label input{
	background: #ffffff;
	width:160px;
	height:30px;
	margin-left: 20px;
	filter:alpha(opacity=1);
    opacity: 0.9;
    -moz-opacity:0.9;
    -webkit-opacity:0.9;
	border: 1px solid #000000;
	font-size: 16px;
	font-weight: bold;
	color: black;
}


.input{
	display: flex;
	width:100%;
	height:70px;
	align-items: center;
    justify-content: center;
	
}
.botao{

	display: flex;
	width:100%;
	height: 50px;
	align-items: center;
    justify-content: center;
}

.botao button{
	background: #1e1e1e;
	width:100%;
	height: 50px;
	color: white;
	border: 4px solid #ffffff;
	border-radius: 5px;
}

.check {
	display: flex;
	height: 40px;
	font-size: 14px;
	font-family: arial;
	align-items: center;
}

.check input{
	display:flex;
	width:25px;
	height: 20px;
	border: 4px solid #ff00ff;
	border-radius: 5px;
	
}
.rodape{
	width:100%;
	height:40px;
	display:flex;
	align-items: center;
    justify-content: center;
	

}

.rodape a{
	display: flex;
	text-decoration: none;
	color: #000000;
	font-family: arial;
	font-size: 20px;
}
.rodape a:hover{
	color: #ffffff;
}

@media only screen and (max-width: 900px) {
	
	.container{
		height:662px;
}
   
   
   .center{
		width:280px;
		height:350px;
    }

}

@media only screen and (min-height: 700px) {
	
	.container{
		height: 788px;
}

}
