/*noticias*/
body{
background-color: #2F4F4F;
}
.noticiacentro{
	display: flex;
	font-family: sans-serif;
	justify-content: center;
}
.noticiasobre{
	display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    flex-direction: row;
	width: 1070px;
	height: auto;
	background-color: #5F9EA0;
	margin:5px 5px;
}
.noticiaitem{
	width: 511px;
	height: 345px;
	margin:5px 5px;
	padding: 5px 5px;
	font-size: 13px;
	font-weight: 200;
	text-align: justify;
	background-color: #5F9EA0;	
	border: 2px solid #4682B4;
	border-radius: 5%;
}
.noticiaitem img{
	width: 100%;
	border-radius: 10%;
}
/*noticias*/

/*noticias mobile*/
@media(max-width: 680px){
 	.noticiasobre{
 		display: flex;
		align-items: flex-start;
	    justify-content: flex-start;
 	}
 	.noticiaitem{
		width: auto;
		height: auto;
	}
	.noticiaitem img{
	width: auto%;
	border-radius: 10%;
    }
 }
 	

 	/*noticias mobile*/
