.noticia{
	
	width:70%;
	height:70%;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
	display: flex;
	background:;
}

.noticia h1{
	text-align:center;
}

.noticia p{
	text-align:center;
}

@media screen (max-width='480px'){
.noticia{
	width:30%;
	height:30%;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
	display: flex;
	background:;
	
}
}
