<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8" />
        <title>Genius Faculdade de Tecnologia</title>
       
  		<link rel="stylesheet" type="text/css" href="_css/menu_lateral.css"> 
  		<link rel="stylesheet" type="text/css" href="_css/formulario_exercicios.css"> 

    </head>
<body>
<nav>
	<div class="item">
		<input type="checkbox" id="check1">
		<label for="check1">Menu</label>
		<ul>
			<li><a href="#">Fechamentos de entregas</a></li>
			<li><a href="resumodasentregasrecebidas.html">Resumo das entregas recebidas</a></li>
			<li><a href="trabalhoeexercicio.html">Trabalhos e Exércicios</a></li>
			<li><a href="cancelamentodematricula.html">Cancelamento de matrícula</a></li>
				
		</ul>

	</div>

	<div class="item">
		<input type="checkbox" id="check2">
		<label for="check2">Aplicação de testes online</label>
		
				<ul>
					<li><a href="#">Aberta</a></li>
					<li><a href="#">Multipla escolha</a></li>
					<li><a href="#">Verdadeira e Falsa</a></li>
				</ul>
			
		</ul>

	</div>
</nav>

</body>
</html>
