<!DOCTYPE html>
<html>

<body>
	
	
<div class="formulario"><br>	
	
	
	<legend>Cancelamento de matricula</legend>
	<center><br><h4 class="titulos">Digite os dados desejados</h4><br></center>
	Aluno:
	<input type="name" class="campo" name="aluno" placeholder="Digite seu nome">
	</br>
	</br>
	RA:
	<input type="name" class="campo" name="RA" placeholder="Digite seu RA">
	</br>
	</br>
	Curso:
	<input type="name" class="campo" name="curso" placeholder="Digite o curso">
	<br/>
	<br/>
	Disciplina:
	<input type="name" class="campo" name="disciplina" placeholder="Digite a disciplina">
	<br/>
	<br/>
	Dia da semana ministrado:
	<input data="diasemana" type="date" /><br>

		
	</br>
	</br>
	<input class="button" type="submit" value="Enviar"/>
	<button class="button" type="reset">Limpar</button>
	
	</br>
	</br>
</div>

	<footer>
            <div class="end">
                <h4>Campus</h4><br>
                <p>Rua Frederico Pacheco, 111 - São Paulo/SP</p>
            </div>

            <div class="contato">
                <h4>Contato</h4>
                <p>(11) 8456-4321</p>
                <a class="contato" href="formulario_contato.html" target="_blank"><img src="_img/email.png" alt="contato" title="Fale Conosco"/></a>
            </div>
    
            <div class="social">
                <h4>Social</h4>
                <br>
                <a href="https://pt-br.facebook.com/nomedousuario" target="_blank"><img src="_img/fb.png" alt="facebook genius" title="facebook Genius"/></a>
                <a href="https://twitter.com/nomedousuario" target="_blank"><img src="_img/tw.png" alt="twitter genius" title="twitter Genius"/></a>
                <a href="https://www.youtube.com/user/nomedousuario" target="_blank"><img src="_img/yt.png" alt="youtube genius" title="youtube Genius"/></a>
            </div>
            
            <div class="direito">
            <p>© Genius Faculdade de Tecnologia 2017. Todos os direitos reservados.</p>
            </div>            
        </footer>



	
</body> 
</html>