{% extends 'base.html' %}
{% load static %}
{% block title %} Contato Professores {% endblock %}
{% block css %} href="{% static 'contatoprofessores.css' %}" {% endblock %}
{% block main %}

		
		<div class="containner">
			<div class="table">
				<table>
					<tr>
						<th>Professor:</th>
						<th>Disciplina:</th>
						<th>Aviso:</th>
						<th></th>
					</tr>
					<tr>
						<th>Yuri Dirickson</th>
						<th>TecWeb</th>
						<th>Alunos, na próxima quarta-feira é a entrega do trabalho</th>
						<th><label><input class="button" type="submit" value="Enviar Mensagem para Professor"/></label></th>
					</tr>
					<tr>
						<th>Luíz Amorim</th>
						<th>Banco de Dados</th>
						<th>Alunos, não esqueçam de enviar para meu e-mail</th>
						<th><label><input class="button" type="submit" value="Enviar Mensagem para Professor"/></label></th>
					</tr>					
					
				</table>
			</div>

		</div>	
    </body>

</html>

{% endblock %}
