<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %} Exercícios e Trabalhos Aluno {% endblock %}
{% block css %} href="{% static 'exerciciosetrabalhos_aluno.css' %}" {% endblock %}
{% block main %}

		
		<div class="containner">
			<div class="form">
				<div class="title">Controle de exercícios e trabalhos</div>
				<div class="superior">
					<div class="disciplina">Disciplina:</div>
						<select name="tipo">
							<option value="DG">Selecione a Disciplina</option>
							<option value="ac">ADS</option> 
							<option value="al">BD</option> 
						</select>
					<div class="disciplina">De: <input type="date"> Até <input type="date"></div>
				</div>
				<div class="inferior">
					<select name="tipo">
						<option value="ac">Pendente</option> 
						<option value="al">Concluído</option></br> 
					</select>
					<input class="button" type="submit" value="Enviar"/>
				</div>
				
				
			</div>
		</div>

    </body>

</html>
{% endblock %}
