<!DOCTYPE html>
<html>

<body>
	
	
<div class="formulario"><br>	
	
	
<h1>Controle de exercícios e trabalhos</h1>
<br/>
<br/>
Disciplina:
	<input type="name" class="campo" name="disciplia" placeholder="Digite a disciplina">
	</br>
	</br>

Data de entrega:
	<input data="diasemana" type="date" />
	</br>
	</br>
Situação:
	<select name="tipo">
    <option value="ac">Pendente</option> 
    <option value="al">Concluído</option></br> 
	</td>
	</select>
	</br>
	</br>
	
	<input class="button" type="submit" value="Enviar"/>
	</br>
	</br>
</div>