<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8" />
<title>Cancelamento Matrícula</title>
</head>


<body>
<div class="formulario">

<form action="cadastro" method="POST" enctype="application/x-www-form-urlencoded">
<h1>CANCELAMENTO DE MATRÍCULA</h1>
<br/>
<fieldset>	
						<legend>Dados Acadêmicos</legend>
						<label for="ra" >RA:</label> 
						<br/>
						<input type="number" name="login" id="ra" size="7" maxlength="7" required />
						<br/><br/>
						<label for="senha" >Senha:</label>
						<br/>
						<input type="password" name="senha" id="senha" size="8" maxlength="8" required />
						<br/><br/>
						<labe for:"curso" >Curso: </labe><br/>
							<select name="curso" id="curso" required>
								<option value=""> -- Selecione -- </option> 
								<option value="analise e desenvolvimento do sistemas">Análise e Desenvolvimento de Sistemas</option>
								<option value="tecnologia da informação">Tecnologia da Informação</option>
								<option value="ciência da computação">Ciência da Computação</option>
								<option value="engenharia da computação">Engenharia da Computação</option>
							</select>
							<br/><br/>
	</fieldset>
	<br/><br/>												
<fieldset>							
	<legend>Cancelamento de Matrícula</legend>
	<label for="motivo" >Motivo:</label>
		<select name="motivo" id="motivo" required>
			<option value=""> -- Selecione -- </option>
			<option value="Pessoal">Pessoal</option>
			<option value="Financeiro">Financeiro</option>
			<option value="Estrutura da faculdade">Estrutura da Faculdade</option>
			<option value="Outros">Outros</option>
		</select>
		<br/><br/>
	<label for="mensagem" >Mensagem:</label>
	<br/>
	<textarea id="mensagem" name="mensage" placeholder="Digite sua mensagem" rows="10" cols="40">  </textarea>
<br/><br/>
 </fieldset>
<button type="submit">Enviar</button>
</form>
</div>
                
</body>
</html>
