{% extends 'base.html' %}
{% load static %}
{% block title %} Horário {% endblock %}
{% block css %} href="{% static 'horario.css' %}" {% endblock %}
{% block main %}
<body>

<div class="horários"><br/>

<h1>Horário de aulas</h1>
<br/>
<br/>

<h3>Segunda<br/>
Disciplina: DevOps<br/>
Professor: Luiz Amorim<br/>
Sala: A306<br/>
<br/>	
<br/>

<h3>Terça<br/>
Disciplina: Engenharia de Software<br/>
Professor: Carlos Pereira<br/>
Sala: A306<br/>
<br/>	
<br/>

<h3>Quarta<br/>
Disciplina: Matemática Aplicada<br/>
Professor: Ana Paula Lopes<br/>
Sala: A306<br/>
<br/>	
<br/>

<h3>Quinta<br/>
Disciplina: Linguagem SQL<br/>
Professor: Bruno Rocha<br/>
Sala: A306<br/>
<br/>	
<br/>

<h3>Sexta<br/>
Disciplina: Linguagem de Programação II<br/>
Professor: Caio Henrique Souza<br/>
Sala: A306<br/>
<br/>	
<br/>

</div>
</body>
</html>
{% endblock %}
