<!DOCTYPE html>
<html>
<head>
	<title> Menu área do professor </title>
	
	
	
</head>

<body>
	<ul id="nav">
		
		<li><a href="#">Fechamentos de entregas</a></li>
		<li><a href="#">Resumo das entregas recebidas</a></li>
		<li><a href="#">Trabalhos e Exércicios</a></li>
		<li><a href="#">Cancelamento de matrícula</a></li>
		<li><a href="#">Aplicação de testes online</a>
			<ul>
				<li><a href="#">Aberta</a></li>
				<li><a href="#">Multipla escolha</a></li>
				<li><a href="#">Verdadeira e Falsa</a></li>
			</ul>
		</li>
			
		
	
	
</ul>


</body>
</html>