{% extends 'base.html' %}
{% load static %}
{% block title %} Cursos {% endblock %}
{% block css %} href="{% static 'pagina_aluno.css' %}" {% endblock %}


{% block main %}
		<div class="containner">
			<nav>
				<div class="item">
					<input type="checkbox" id="check1">
					<label for="check1">Secretaria Online</label>
					<ul>
						<li><a href="formulario_cadastro.html">Matrícula Online</a></li>
						<li><a href="formulario_cancelamento.html">Cancelamento de matrícula</a></li>
						<li><a href="contatoprofessores.html">Contato dos Professores</a></li>
					</ul>
				</div>
				<div class="item">
					<input type="checkbox" id="check2">
					<label for="check2">Àrea do Aluno</label>
					<ul>
						<li><a href="exerciciosetrabalhos_aluno.html">Trabalhos e Exercícios</a></li>
						<li><a href="notas.html">Notas e faltas</a></li>
						<li><a href="horario.html">Horários das Aulas</a></li>						
					</ul>
				</div>
				<div class="item">
					<input type="checkbox" id="check3">
					<label for="check3">Acesse Também</label>
					<ul>
						<li><a href="carreira.html">Núcleo de Carreiras</a></li>
					</ul>
				</div>					
			</nav>
			<div class="painel">
				<div class="logado">
					<div class="logadoesquerdo">
						Olá, Caio</br> 
						RA: 1701394</br> 
						Curso: Curso Superior de Tecnologia em</br> 
						Análise e Desenvolvimento de Sistemas
					</div>
				</div>
				<div class="mural-recados">
					<div class="titlemural">Mural de Recados</div>
					<div class="corporecado">
						<div class="recado"><p>A catraca estará funcionando a partir do dia 23/02/2017. Acesso liberado apenas através da carteirinha. Se não possui a sua carteirinha, entre em contato com a secretaria da faculdade.</p></div>
						<div class="recado"><p>A partir do mês de março/2017 a negociação de mensalidades em atraso será tratado apenas na secretaria da faculdade. </p></div>
					</div>
				<div class="informacoes">
					<div class="carreira"><a href="carreira.html">Núcleo de Carreiras</a></div>
					<div class="carreira"><a href="">Informações</a></div>
				</div>
					
				</div>
			</div>
		</div>		

{% endblock %}       