<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8" />
<title>Página do Aluno</title>
</head>


<body>
	<nav class="menu aluno">
	<ul id="nav">
		
		<li><a href="formulario_cadastro.html" target="_blank">Matrícula Online</a></li>
		<li><a href="resumodasentregaspendentes.html" target="_blank">Resumo das entregas pendentes</a></li>
		<li><a href="contatoprofessores.html"" target="_blank"">Contato com Professores</a></li>
		<li><a href="formulario_cancelamento.html" target="_blank">Cancelamento de matrícula</a></li>
		<li><a href="exerciciosetrabalhos_aluno.html" target="_blank"">Trabalhos e Exercícios</a>
			<ul>
			</ul>
		</li>
		</nav>
	
<div class="Recados">
                <h1>Mural de Recados</h1>
                <p>A catraca estará funcionando a partir do dia 23/02/2017. Acesso liberado apenas através da carteirinha. Se não possui a sua carteirinha, entre em contato com a secretaria da faculdade.</p>
                <p>A partir do mês de março/2017 a negociação de mensalidades em atraso será tratado apenas na secretaria da faculdade. </p>
</div>
	
<div class="Horários">
                <h1>Horários</h1>
				<h3>Confira o horário de suas aulas.</h3>
				<li><a href="horario.html" target="_blank">Horários</a></li>
</div>

<div class="Carreira">
	<h1>Carreira</h1>
	<h3>Confira as vagas disponíveis no nosso banco de dados! </h3>
	<li><a href="carreira.html" target="_blank">Carreira</a></li>
</div>

<div class="Notas">
	<h1>Notas e faltas</h1>
	<h3>Confira suas notas e faltas.</h3>
	<li><a href="notas.html" target="_blank">Notas e faltas</a></li>
</div>

</body>

</html>