{% extends 'base.html' %}
{% load static %}
{% block title %} Entregas Recebidas {% endblock %}
{% block css %} href="{% static 'resumodasentregasrecebidas.css' %}" {% endblock %}


{% block main %}
<div class="containner">
      <nav>
        <div class="item">
          <input type="checkbox" id="check1">
          <label for="check1">Secretaria Online</label>
          <ul>
            <li><a href="formulario_cadastro.html">Matrícula Online</a></li>
            <li><a href="formulario_cancelamento.html">Cancelamento de matrícula</a></li>
            <li><a href="contatoprofessores.html">Contato dos Professores</a></li>
          </ul>
        </div>
        
        <div class="item">
          <input type="checkbox" id="check3">
          <label for="check3">Acesse Também</label>
          <ul>
          
        </div>

                <div class="item">
                    <input type="checkbox" id="check4">
                    <label for="check4">Àrea do Professor</label>
                    <ul>
                        <li><a href="#">Fechamentos de entregas</a></li>
                        <li><a href="resumodasentregasrecebidas.html">Resumo das entregas recebidas</a></li>
                        <li><a href="trabalhoeexercicio.html">Trabalhos e Exércicios</a></li>
                        <li><a href="cancelamentodematricula.html">Cancelamento de matrícula</a></li>
                            
                    </ul>
                </div>

<div class="conteudo">
<table border="1">
	<caption> Trabalho 1  - Segundo bimestre </caption>

<tr>
	<th>Data de criação</th>
	<th>Data limite da entrega</th>
	<th>Alunos que entregaram</th>
	<th> Data de entrega</th>
</tr>

<tr class="cor" valign="top">
   <td>03/09/2017</td>
   <td>29/09/2017</td>
   <td> Ana Paula Lopes </td>
   <td> 20/09/2017 </td>
</tr>

<tr valign="top">
   <td>03/09/2017</td>
   <td>29/09/2017</td>
   <td> Caio Henrique </td>
   <td> 25/09/2017 </td>
</tr>

<tr class="cor" valign="top">
   <td>03/09/2017</td>
   <td>29/09/2017</td>
   <td> Carlos Ryan </td>
   <td> 28/09/2017 </td>
</tr>

<tr valign="top">
   <td>03/09/2017</td>
   <td>29/09/2017</td>
   <td> Isabella Anze </td>
   <td> 21/09/2017 </td>
</tr>

<tr class="cor" valign="top">
   <td>03/09/2017</td>
   <td>29/09/2017</td>
   <td> Johnny dos Santos </td>
   <td> 29/09/2017 </td>
</tr>


</table>

<br>
<br>


<table border="1">
	<caption> Trabalho 2 - Segundo bimestre </caption>

<tr>
	<th>Data de criação</th>
	<th>Data limite da entrega</th>
	<th>Alunos que entregaram</th>
	<th> Data de entrega </th>
</tr>


<tr class="cor" valign="top">
   <td>10/10/2017</td>
   <td>29/11/2017</td>
   <td> Ana Paula Lopes </td>
   <td> 27/11/2017 </td>
</tr>
<tr valign="top">
   <td>10/10/2017</td>
   <td>29/11/2017</td>
   <td> Bruno dos Santos </td>
   <td> 26/11/2017 </td>
</tr>
<tr class="cor" valign="top">
   <td>10/10/2017</td>
   <td>29/11/2017</td>
   <td> Carlos Ryan</td>
   <td> 27/11/2017 </td>
</tr>
<tr valign="top">
   <td>10/10/2017</td>
   <td>29/11/2017</td>
   <td> Caio Henrique </td>
   <td> 29/11/2017 </td>
</tr>
<tr class="cor" valign="top">
   <td>10/12/2017</td>
   <td>29/11/2017</td>
   <td> Diogo Lessa </td>
   <td> 20/11/2017 </td>
</tr>
<tr valign="top">
   <td>10/10/2017</td>
   <td>29/11/2017</td>
   <td> Daniel Souza </td>
   <td> 28/11/2017 </td>
</tr>
<tr class="cor" valign="top">
   <td>10/10/2017</td>
   <td>29/11/2017</td>
   <td> Danilo Pereira </td>
   <td> 24/11/2017 </td>
</tr>
<tr valign="top">
   <td>10/10/2017</td>
   <td>29/11/2017</td>
   <td> Lucas da Silva </td>
   <td> 29/11/2017 </td>
</tr>
<tr class="cor" valign="top">
   <td>10/10/2017</td>
   <td>29/11/2017</td>
   <td> Lucas Andrade </td>
   <td> 29/11/2017 </td>
</tr>
<tr valign="top">
   <td>10/10/2017</td>
   <td>29/11/2017</td>
   <td> Marcelo Junior </td>
   <td> 20/11/2017 </td>
</tr>
<tr class="cor" valign="top">
   <td>10/10/2017</td>
   <td>29/11/2017</td>
   <td> Roberto Carvalho </td>
   <td> 28/11/2017 </td>
</tr>

</table>

</div>
{% endblock %}   
