<div class="formulario">	
	
    	   <legend>Aplicação de testes</legend>
	   </br>
    	   </br>
    	   Disciplina:
    	   <input type="name" class="campo" name="disciplia" placeholder="Disciplina">
    	   </br>
    	   </br>
    	   Titulo:
    	   <input type="name" class="campo" name="titulo" placeholder="Titulo do teste">
    	   </br>
    	   </br>
    	   Data limite de entrega:
    	   <input data="diasemana" type="date" />
    	   </br>
    	   </br>
	   Nota:
	   <input type="number" class="campo" name="valor" placeholder="Valor do teste">	
    	   </br>
    	   </br>
    	
    	   <button class="button" type="submit">Enviar</button>
    	   <button class="button" type="reset">Limpar</button>
    	
    	   </br>
    	   </br>
        </div>
    </div>
</div>

