<!DOCTYPE html>
<html>

<body>
	
	
<div class="formulario"><br>	
	
	
	<legend>Adicionar exercicio ou trabalho</legend>
	<center><br><h4 class="titulos">Digite os dados desejados</h4><br></center>
	Disciplina:
	<input type="name" class="campo" name="disciplia" placeholder="Digite a disciplina">
	</br>
	</br>
	Titulo:
	<input type="name" class="campo" name="titulo" placeholder="Digite o titulo">
	</br>
	</br>
	Data limite de entrega:
	<input data="diasemana" type="date" />
	</br>
	</br>
    Tipo:
	<select name="tipo">
    <option value="ac">Exercicio</option> 
    <option value="al">Trabalho</option></br> 
	</td>
	</select>
	</br>
	</br>
	
	<input class="button" type="submit" value="Enviar"/>
	<button class="button" type="reset">Limpar</button>
	
	</br>
	</br>
</div>