<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8" />
        <title>Trabalhos e Exercícios</title>
        <meta name="description" content="Genius Faculdade de Tecnologia">
        <link rel="shortcut icon" href="_img/favicon.png">
        <link rel="stylesheet" type="text/css" href="../static/estilo.css">
        <link rel="stylesheet" type="text/css" href="../static/curso.css">  
		<link rel="stylesheet" type="text/css" href="../static/exerciciosetrabalhos_aluno.css"> 
    </head>
    <body>

        <header class="cabeçalho">
            <input type="checkbox" id="bt_menu">
            <label for="bt_menu"><img src="_img/menu.png"/></label>

            <a class="logo" href="index.html"><img src="_img/logo.png" alt="logo Genius" title="Home Page Genius"/></a>

            <nav class="menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="curso.html">Cursos</a>
                        <ul>
                            <li><a href="detalhe.html #ADS" target="_blank">Análise e Desenvolvimento de Sistema</a></li>
                            <li><a href="detalhe.html #TI" target="_blank">Tecnologia da Informação</a></li>
                            <li><a href="detalhe.html #CC" target="_blank">Ciência da Computação</a></li>
                            <li><a href="detalhe.html #EC" target="_blank">Engenharia da Computação</a></li>
                        </ul>
                    </li>                    
                    <li><a href="noticia.html">Notícias</a></li>
                </ul>
            </nav>

            <a class="login" href="formulario_login.html" target="_blank"><img src="_img/user.png" alt="acesso"/></a>
            
        </header>

<body>
	
	
<div class="formulario"><br>	
	
	
	<legend>Adicionar exercicio ou trabalho</legend>
	<center><br><h4 class="titulos">Digite os dados desejados</h4><br></center>
	Disciplina:
	<input type="name" class="campo" name="disciplia" placeholder="Digite a disciplina">
	</br>
	</br>
	Titulo:
	<input type="name" class="campo" name="titulo" placeholder="Digite o titulo">
	</br>
	</br>
	Data limite de entrega:
	<input data="diasemana" type="date" />
	</br>
	</br>
    Tipo:
	<select name="tipo">
    <option value="ac">Exercicio</option> 
    <option value="al">Trabalho</option></br> 
	</td>
	</select>
	</br>
	</br>
	
	<input class="button" type="submit" value="Enviar"/>
	<button class="button" type="reset">Limpar</button>
	
	</br>
	</br>
</div>
	<footer>
            <div class="end">
                <h4>Campus</h4><br>
                <p>Rua Frederico Pacheco, 111 - São Paulo/SP</p>
            </div>

            <div class="contato">
                <h4>Contato</h4>
                <p>(11) 8456-4321</p>
                <a class="contato" href="formulario_contato.html" target="_blank"><img src="_img/email.png" alt="contato" title="Fale Conosco"/></a>
            </div>
    
            <div class="social">
                <h4>Social</h4>
                <br>
                <a href="https://pt-br.facebook.com/nomedousuario" target="_blank"><img src="_img/fb.png" alt="facebook genius" title="facebook Genius"/></a>
                <a href="https://twitter.com/nomedousuario" target="_blank"><img src="_img/tw.png" alt="twitter genius" title="twitter Genius"/></a>
                <a href="https://www.youtube.com/user/nomedousuario" target="_blank"><img src="_img/yt.png" alt="youtube genius" title="youtube Genius"/></a>
            </div>
            
            <div class="direito">
            <p>© Genius Faculdade de Tecnologia 2017. Todos os direitos reservados.</p>
            </div>            
        </footer>



	
</body> 
</html>
