{% extends 'base.html' %}
{% load static %}
{% block title %} Cursos {% endblock %}
{% block css %} href="{% static 'estilo.css' %}" {% endblock %}


{% block main %}
		<div class="containner">
			<nav>
				<div class="item">
					<input type="checkbox" id="check1">
					<label for="check1">Secretaria Online</label>
					<ul>
						<li><a href="formulario_cadastro.html">Matrícula Online</a></li>
						<li><a href="cancelamentodematricula.html">Cancelamento de matrícula</a></li>
						<li><a href="contatoprofessores.html">Contato dos Professores</a></li>
					</ul>
				</div>
				<div class="item">
					<input type="checkbox" id="check2">
					<label for="check2">Àrea do Aluno</label>
					<ul>
						<li><a href="exerciciosetrabalhos_aluno.html">Trabalhos e Exercícios</a></li>
						<li><a href="notas.html">Notas e faltas</a></li>
						<li><a href="horario.html">Horários das Aulas</a></li>						
					</ul>
				</div>
				<div class="item">
					<input type="checkbox" id="check3">
					<label for="check3">Acesse Também</label>
					<ul>
						<li><a href="carreira.html">Núcleo de Carreiras</a></li>
					</ul>
				</div>					
			</nav>
			<div class="painel">
				<div class="logado">
					<div class="logadoesquerdo">
						Olá, Caio</br> 
						RA: 1701394</br> 
						Curso: Curso Superior de Tecnologia em</br> 
						Análise e Desenvolvimento de Sistemas
					</div>
				</div>

				<div class="table">
					<table>
						<tr>
                <th>Disciplina</th>
                <th>Faltas</th>
                <th>Nota</th>
						</tr>
						<tr>
                <th>DevOps</th>
                <th>6</th>
                <th>9,0</th>
						</tr>
						<tr>
                <th>Engenharia de Software</th>
                <th>12</th>
                <th>5,1</th>
            </tr>	
            
            <tr>
                <th>Gestão de Projetos</th>
                <th>0</th>
                <th>7,0</th>
            </tr>	
            
            <tr>
                <th>Linguagem de Programação II</th>
                <th>4</th>
                <th>10</th>
            </tr>	
            
            <tr>
                <th>Linguagem SQL</th>
                <th>8</th>
                <th>8,0</th>
            </tr>	
            
            <tr>
                <th>Matemática Aplicada</th>
                <th>0</th>
                <th>7,0</th>
						</tr>	
            
					</table>		
				</div>
				
			</div>
		</div>		

{% endblock %}       
